segment-dictionary/XML/v2.5.1/message_schemas/SSU_U03.xsd

<?xml version="1.0"?>
<!--   v2.xml Message Definitions for Version 2.5 - here: SSU_U03-->
<!--   Copyright (c) 1999-2022, Health Level Seven. All rights reserved.   -->
<!--   (generated on 27.05.2022 by HL7-Database) D:\Eigene Dateien\HL7\Datenbank\hl7_97.mdb-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v2xml" xmlns:hl7="urn:hl7-org:v2xml" targetNamespace="urn:hl7-org:v2xml" version="1.1">
  <!-- import segment definition for version -->
  <xsd:include schemaLocation="segments.xsd"/>
  <!-- MESSAGE SSU_U03 -->
  <!-- .. message definition SSU_U03 -->
  <xsd:complexType name="SSU_U03.CONTENT">
    <xsd:sequence>
      <xsd:element ref="MSH" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="SFT" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element ref="EQU" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="SSU_U03.SPECIMEN_CONTAINER" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element ref="ROL" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SSU_U03" type="SSU_U03.CONTENT"/>
  <xsd:complexType name="SSU_U03.SPECIMEN_CONTAINER.CONTENT">
    <xsd:sequence>
      <xsd:element ref="SAC" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="OBX" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element ref="SSU_U03.SPECIMEN" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SSU_U03.SPECIMEN_CONTAINER" type="SSU_U03.SPECIMEN_CONTAINER.CONTENT"/>
  <xsd:complexType name="SSU_U03.SPECIMEN.CONTENT">
    <xsd:sequence>
      <xsd:element ref="SPM" minOccurs="1" maxOccurs="1"/>
      <xsd:element ref="OBX" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SSU_U03.SPECIMEN" type="SSU_U03.SPECIMEN.CONTENT"/>
</xsd:schema>
